.company {
    border-style: solid;
    border-color: blue;
    border-width: 10px;
    text-align: center;
}

.title {
    text-align: center;
}

.btn {
    text-align: center;
}

.one {
    text-align: center;
}

.two {
    text-align: center;
}

.three {
    text-align: center;
}